{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="text-center">Elan</h2>
        <p style="padding-top: 10px">Tools for converting from the Elan XML file type (.eaf) to the Discursis CSV type.
        <strong>It is now safe to turn your internet connection off if you wish.</strong> Use the upload dialogue
        below to select your *.eaf file to start. Again, please keep in mind this file isn't being uploaded to a server,
        you're just simply selecting it so this script can operate on it.</p>
        <p style="border: 1px solid #ccc; padding: 10px;"><input type="file" id="elan-file-select" name="file" /></p>
    </div>
</div>
<div class="row" id="elan-output">
</div>
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}/js/elan.js"></script>
{% endblock %}